body{
  width: 60%;
}

img {
  display: block;
  margin: 5px auto;
  height: 100px;
  width: 320px;
}

.game-container {}

#muteButton, #restartButton {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 630px;
  left: 80px;
}

#restartButton {
  height: 70px;
  width: 70px;
  top: 610px;
  left: 1300px;
}
#splash, #win-splash, #lose-splash, #level-splash {
  position: absolute;
  background: #88CC88;
  width: 1355px;
  height: 510px;
  border-radius: 5px;
  margin-left: 35px;
}

#win-splash, #lose-splash, #level-splash {
  visibility: hidden;
}

.splash-text {
  font-weight: bold;
  padding: 30px;
  text-align: center;
  font-size: 20px;
  color: black;
  font-family: 'Gabriela', serif;
}

#canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid black;
}
